<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><meta charset="UTF-8"></meta>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/css/pocetna.css}"
	href="/css/pocetna.css"></link>
</head>
<body>
    <div class="p-3 py-5">
       <div class="d-flex justify-content-md-center align-items-center mb-3">
           <h1 align="left" class="text-center">Obriši nalog</h1> 
       </div>
       <h3 align="left" class="text-center">Unesite sve vaše podatke kako biste potvrdili zahtjev za brisanje!</h3>
       <div><img height="200px" width="200px" th:src="${vlasnikBroda.linkSlike}"></img></div>
        <form>
        <div class="row mt-3 ">
            <div class="col-md-8"><label class="labels">Ime:</label><input type="text" class="form-control" placeholder="Unesite ime" th:value="${zahtjev.ime}" name="ime"></input></div>
            <div class="col-md-8"><label class="labels">Prezime:</label><input type="text" class="form-control" placeholder="Unesite prezime" th:value="${zahtjev.prezime}" name="prezime"></input></div>
            <div class="col-md-8"><label class="labels">Korisničko ime:</label><input type="text" class="form-control" placeholder="Unesite korisničko ime" th:value="${zahtjev.korisnickoIme}" name="korisnickoIme"></input></div>
            <div class="col-md-8"><label class="labels">Elektronska Pošta</label><input type="text" class="form-control" placeholder="Unesite elektronsku poštu" th:value="${zahtjev.email}" name="email"></input></div>
            <div class="col-md-8"><label class="labels">Lozinka:</label><input type="password" class="form-control" placeholder="Unesite lozinku" th:value="${zahtjev.lozinka}" name="lozinka"></input></div>
            <div class="col-md-8"><label class="labels">Potvrdite Lozinku:</label><input type="password" class="form-control" placeholder="Unesite ponovo lozinku" th:value="${zahtjev.lozinkaPonovo}" name="lozinkaPonovo"></input></div>
            <div class="col-md-8"><label class="labels">Navedite razlog brisanja:</label><textarea rows="10" cols="50" class="form-control" placeholder="Razlog brisanja" name="razlog"></textarea></div>
        <div class="mt-5 text-left"><button class="btn btn-primary profile-button" th:formaction="@{/brodVlasnik/obrisiNalog/zahtjev/}+${vlasnikBroda.ID}" type="submit">Pošalji zahtjev</button>
    </div>
    </form>
   </div>
</body>
</html>