<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Izvještaji o poslovanju</title>

<link rel="stylesheet" th:href="@{/css/moje_vikendice.css}"
	href="/css/moje_vikendice.css"></link>
<link rel="stylesheet" th:href="@{/css/moje_vikendice.css}"
href="/css/moje_vikendice.css"></link>
<link rel="stylesheet" href="/css/spisak_rezervacija.css"/>
<style>
			.naslov
			{
				background-color: #a9afb8;
				font-size: 40px;
				color: #3886e8;
				font-weight: 100;
				line-height: 50px;
				letter-spacing: 0.5px;
				margin: 20px 0 30px;
			}
			.opis
			{
				color: black;
				margin: 5px
			}
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>

<body>
	<div><h2 class="naslov">Izvještaji o poslovanju</h2></div>
	<!--main role="main"-->
		<div class="col md-8">
			<div class="row justify-content-center">
			<form name="unosPerioda">
				<div class="block">
					<label class="opis" for="pocetniDatum">Početni datum: </label>
					<input class="opis" id="pocetniDatum" type="date" name="pocetniDatum" value="">
				
					<label class="opis" for="krajnjiDatum">Krajnji datum: </label>
					<input class="opis" id="krajnjiDatum" type="date"  name="krajnjiDatum" value="">
				
				
					<!--input th:formaction="@{/admin/izvestaji/print}" type="submit" value="Odstampaj" /-->
					<input class="btn btn-primary" th:formaction="@{/brodVlasnik/izvjestajPoslovanjaPeriod/}+${vlasnikBroda.ID}" type="submit" value="Prikaži" />
				</div>
				<br><br><br>
			</form>
			</div>
		<div class="row">
		<select id="odabirGrafika" onchange="prikazi_grafik()">
			<option value="grafikSedmica">Sedmični</option>
			<option value="grafikMjesec">Mjesečni</option>
			<option value="grafikGodina">Godišnji</option>
		</select>
		</div>
	</div>
	<canvas id="grafikSedmica" width="200px" height="200px"></canvas>
	<canvas style="display:none;" id="grafikMjesec" width="200px" height="200px"></canvas>
	<canvas style="display:none;" id="grafikGodina" width="200px" height="200px"></canvas>
	
	<script th:inline="javascript">
	
	function prikazi_grafik()
	{
		var grafik = document.getElementById("odabirGrafika");
		if(grafik.value=="grafikSedmica")
		{
			document.getElementById("grafikSedmica").style.display="block";
			document.getElementById("grafikMjesec").style.display="none";
			document.getElementById("grafikGodina").style.display="none";
		}
		else if(grafik.value=="grafikMjesec")
		{
			document.getElementById("grafikSedmica").style.display="none";
			document.getElementById("grafikMjesec").style.display="block";
			document.getElementById("grafikGodina").style.display="none";
		}
		else if(grafik.value=="grafikGodina")
		{
			document.getElementById("grafikSedmica").style.display="none";
			document.getElementById("grafikMjesec").style.display="none";
			document.getElementById("grafikGodina").style.display="block";
		}
	}
	
	/*<![CDATA[*/
	var sedmicnaPoslovanja = /*[[${sedmicnaPoslovanja}]]*/ 'default';
	var mjesecnaPoslovanja = /*[[${mjesecnaPoslovanja}]]*/ 'default';
	var godisnjaPoslovanja = /*[[${godisnjaPoslovanja}]]*/ 'default';
	/*]]>*/
	
	//console.log(sedmicnaPoslovanja);
	var sedmicneLabele = [];
	var sedmicniPrihodi = [];
	var sedmicneRezervacije = [];
	for(var poslovanje of sedmicnaPoslovanja)
	{
		sedmicneLabele.push(poslovanje.nazivEntiteta);
	}
	//console.log(sedmicneLabele);
	for(var poslovanje of sedmicnaPoslovanja)
	{
		sedmicniPrihodi.push(poslovanje.prihod);
		sedmicneRezervacije.push(poslovanje.brojRezervacija);
	}
	//console.log(sedmicniPrihodi);
	const ctx = document.getElementById('grafikSedmica').getContext('2d');
	const sedmicniGraf = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: sedmicneLabele,
	        datasets: [{
	            label: 'Prihod po danu',
	            data: sedmicniPrihodi,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)',
	                'rgba(102, 51, 0, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)',
	                'rgba(102, 51, 0, 1)'
	            ],
	            borderWidth: 1
	        },
	        {
	            label: 'Broj rezervacija po danu',
	            data: sedmicneRezervacije,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)',
	                'rgba(102, 51, 0, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)',
	                'rgba(102, 51, 0, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});
	
	//console.log(mjesecnaPoslovanja);
	var mjesecneLabele = [];
	var mjesecniPrihodi = [];
	var mjesecneRezervacije = [];
	for(var poslovanje of mjesecnaPoslovanja)
	{
		mjesecneLabele.push(poslovanje.nazivEntiteta);
	}
	//console.log(mjesecneLabele);
	for(var poslovanje of mjesecnaPoslovanja)
	{
		mjesecniPrihodi.push(poslovanje.prihod);
		mjesecneRezervacije.push(poslovanje.brojRezervacija);
	}
	//console.log(mjesecniPrihodi);
	const ctx2 = document.getElementById('grafikMjesec').getContext('2d');
	const mjesecniGraf = new Chart(ctx2, {
	    type: 'bar',
	    data: {
	        labels: mjesecneLabele,
	        datasets: [{
	            label: 'Prihod u sedmici',
	            data: mjesecniPrihodi,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(102, 51, 0, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(102, 51, 0, 1)'
	            ],
	            borderWidth: 1
	        },
	        {
	            label: 'Broj rezervacija u sedmici',
	            data: mjesecneRezervacije,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(102, 51, 0, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(102, 51, 0, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});
	
	
	//console.log(godisnjaPoslovanja);
	var godisnjeLabele = [];
	var godisnjiPrihodi = [];
	var godisnjeRezervacije = [];
	for(var poslovanje of godisnjaPoslovanja)
	{
		godisnjeLabele.push(poslovanje.nazivEntiteta);
	}
	//console.log(godisnjeLabele);
	for(var poslovanje of godisnjaPoslovanja)
	{
		godisnjiPrihodi.push(poslovanje.prihod);
		godisnjeRezervacije.push(poslovanje.brojRezervacija);
	}
	//console.log(godisnjiPrihodi);
	const ctx3 = document.getElementById('grafikGodina').getContext('2d');
	const godisnjiGraf = new Chart(ctx3, {
	    type: 'bar',
	    data: {
	        labels: godisnjeLabele,
	        datasets: [{
	            label: 'Prihod u mjesecu',
	            data: godisnjiPrihodi,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)',
	                'rgba(102, 51, 0, 0.2)',
	                'rgba(0, 255, 255, 0.2)',
	                'rgba(255, 51, 204, 0.2)',
	                'rgba(0, 255, 0, 0.2)',
	                'rgba(204, 51, 0, 0.2)',
	                'rgba(102, 102, 153, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)',
	                'rgba(102, 51, 0, 1)',
	                'rgba(0, 255, 255, 1)',
	                'rgba(255, 51, 204, 1)',
	                'rgba(0, 255, 0, 1)',
	                'rgba(204, 51, 0, 1)',
	                'rgba(102, 102, 153, 1)'
	            ],
	            borderWidth: 1
	        },
	        {
	            label: 'Broj rezervacija u mjesecu',
	            data: godisnjeRezervacije,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)',
	                'rgba(102, 51, 0, 0.2)',
	                'rgba(0, 255, 255, 0.2)',
	                'rgba(255, 51, 204, 0.2)',
	                'rgba(0, 255, 0, 0.2)',
	                'rgba(204, 51, 0, 0.2)',
	                'rgba(102, 102, 153, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)',
	                'rgba(102, 51, 0, 1)',
	                'rgba(0, 255, 255, 1)',
	                'rgba(255, 51, 204, 1)',
	                'rgba(0, 255, 0, 1)',
	                'rgba(204, 51, 0, 1)',
	                'rgba(102, 102, 153, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});
	
	
	
	</script>
</body>
</html>