<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Profil instruktora</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/css/instruktorProfil.css" th:href="@{/css/instruktorProfil.css}">
<style>
a.klijent:link {
	color: #000;
	text-decoration: none;
}

a.klijent:visited {
	color: #999;
	text-decoration: none;
}

a.klijent:hover {
	text-decoration: none;
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="hold">
		<div class="header">
			<div class="container">
				<div id="logo">
					<img alt="logo" th:src="${instruktor.linkSlike}" height="90px"
						width="90px" style="margin-bottom: 90px;">
					<h3 style="float: right;">Instruktor</h3>
				</div>

				<ul class="nav">
					<li><a th:href="@{/instruktor/}+${id+'/osveziTermine'}">Osvezi
							termine</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/profil'}">Moj
							profil</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/istorija'}">Istorija
							rezervacija</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/izvestajiPoslovanja'}">Izvestaji
							o poslovanju</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/izvestajiRezervacija'}">Izvestaji
							za rezervacije</a></li>

					<li><a th:href="@{/login}">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="panel">
			<h2>Moje usluge</h2>
			<ul th:each="usluga : ${usluge}">
				<li><img th:src="${usluga.linkSlike}" class="slika">
					<div class="txt">
						<h2 th:text="${usluga.naziv}">Naslov</h2>
						<p th:text="${usluga.opis}">Opis usluge</p>
						<p th:text="${usluga.adresa}">Adresa</p>
					</div> <a th:href="@{/instruktor/}+${id+'/usluga/'}+${usluga.ID}"><img
						src="/img/pencil.png" alt="promeni" class="edit"></a></li>
				<li><a
					th:href="@{/instruktor/}+${id+'/periodiZauzetosti/'+usluga.ID}"><button
							type="button"
							style="float: right; cursor: pointer; margin: 0.75rem; margin-top: 1.5rem; padding: 0.75rem 1.5rem; font-size: 0.65rem; font-weight: bold; letter-spacing: 0.025rem; text-transform: uppercase; color: white; background-color: black; border: none;">Periodi
							zauzetosti</button></a></li>
			</ul>
			<a th:href="@{/instruktor/}+${id+'/novaUsluga'}"><button
					type="button"
					style="float: right; cursor: pointer; margin: 0.75rem; margin-top: 1.5rem; padding: 0.75rem 1.5rem; font-size: 0.65rem; font-weight: bold; letter-spacing: 0.025rem; text-transform: uppercase; color: white; background-color: black; border: none;">Dodaj
					uslugu</button></a>
		</div>
		<div class="panel">
			<h2>Trenutne rezervacije</h2>
			<table>
				<tr>
					<th>Naziv</th>
					<th>Klijent</th>
					<th>Datum</th>
					<th>Trajanje</th>
				</tr>
				<tr th:each="rez : ${rezervacije}">
					<td th:text="${rez.nazivEntiteta}">Naziv</td>
					<td><a
						th:href="@{/instruktor/}+${id+'/klijent/'}+${rez.klijent.ID}"
						th:text="${rez.klijent.ime + ' ' + rez.klijent.prezime}"
						class="klijent">Klijent</a></td>
					<td th:text="${rez.datum}">Datum</td>
					<td th:text="${rez.trajanje}">Trajanje</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<div class="panel ">
			<h2>Brze rezervacije</h2>
			<table>
				<tr>
					<th>Naziv</th>
					<th>Datum</th>
					<th>Vreme</th>
					<th>Trajanje</th>
				</tr>
				<tr th:each="brza : ${brze}">
					<td th:text="${brza.nazivEntiteta}">Naziv</td>
					<td th:text="${brza.datum}">Datum</td>
					<td th:text="${brza.vreme}">Datum</td>
					<td th:text="${brza.trajanje}">Trajanje</td>
				</tr>
			</table>
			<a th:href="@{/instruktor/}+${id+'/novaBrzaRezervacija'}"><button
								type="button"
								style="float: right; cursor: pointer; margin: 0.75rem; margin-top: 1.5rem; padding: 0.75rem 1.5rem; font-size: 0.65rem; font-weight: bold; letter-spacing: 0.025rem; text-transform: uppercase; color: white; background-color: black; border: none;">Dodaj
								brzu rezervaciju</button></a>
		</div>
	</div>
	<div class="panel important">
		<h2>Kalendar</h2>


	</div>
</body>
</html>