<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spisak rezervacija</title>
		<style>
			.naslov
			{
				background-color: #a9afb8;
				font-size: 40px;
				color: #3886e8;
				font-weight: 100;
				line-height: 50px;
				letter-spacing: 0.5px;
				margin: 20px 0 30px;
			}
		</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
     <link id="u-theme-google-font" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/spisak_rezervacija.css"/>
</head>
<body>
<form>
	<button type="submit" class="btn btn-primary" th:formaction="@{/vikendice/dodajPeriod/}+${vlasnikVikendice.ID+'/'}+${vikendica.ID}">Dodaj period</button>
	<h1 class="naslov" th:text="${'Spisak perioda dostupnosti: '+ vikendica.naziv}"></h1>
	
	<input type="hidden" readonly th:value="${vlasnikVikendice.ID}" name="vlasnikID"></input>
	<table>
	<tr>
		<th>ID</th>
	    <th>Datum početka</th>
	    <th>Datum kraja</th>
	    <!--th>Izmjena:</th>
	    <th>Brisanje:</th-->
	 </tr>
	 <tr th:each="period:${periodi}">
	    <td th:text="${period.ID}"></td>
	    <td th:text="${period.datumPocetka}" ></td>
	    <td th:text="${period.datumKraja}" ></td>
	    <!--td><button type="submit" class="btn btn-warning" th:formaction="@{/vikendicaVlasnik/napisiIzvjestajRezervacije/}+${vlasnikVikendice.ID+'/'}+${vikendica.ID}">Napiši izvještaj</button></td>
	    <td><button type="submit" class="btn btn-danger" th:formaction="@{/vikendicaVlasnik/napisiIzvjestajRezervacije/}+${vlasnikVikendice.ID+'/'}+${vikendica.ID}">Napiši izvještaj</button></td>
	 	-->
	 </tr>
	 </table>
		
	</form>
	
	
	<h1 class="naslov" th:text="${'Spisak termina zauzetosti: '+ vikendica.naziv}"></h1>
	<form>
	<input type="hidden" readonly th:value="${vlasnikVikendice.ID}" name="vlasnikID"></input>
	<table> <!-- SAMO PRIKAZ!!! -->
	<tr>
		<th>ID</th>
		<th>Tip rezervacije</th> 
	    <th>Datum početka</th>
	    <th>Datum kraja</th>
	    <th>ID rezervacije</th>
	    <!-- th>Rezervacija:</th -->
	 </tr>
	 <tr th:each="termin:${termini}">
	    <td th:text="${termin.ID}"></td>
	    <td th:text="${termin.tipRezervacije}"></td>
	    <td th:text="${termin.datumPocetka}" ></td>
	    <td th:text="${termin.datumKraja}" ></td>
	    <td th:text="${termin.rezervacijaID}"></td>
	    <!--td><button type="submit" class="btn btn-primary" th:formaction="@{/vikendicaVlasnik/napisiIzvjestajRezervacije/}+${vlasnikVikendice.ID+'/'}+${termin.rezervacijaID}">Prikaži rezervaciju</button></td>
	     -->
	 </tr>
	 </table>
		
	</form>
	
	
	<script>
	/*<![CDATA[*/
	var periodi = /*[[${periodi}]]*/ 'default';
	var termini = /*[[${termini}]]*/ 'default';
	//var godisnjaPoslovanja = /*[[${godisnjaPoslovanja}]]*/ 'default';
	/*]]>*/
		console.log(periodi);
		console.log(termini);
	</script>
</body>

</html>