<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
</head>
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/}+${id+'/profil'}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/login}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/}+${id+'/pregled'}">Prikaz
					svih entiteta</a></li>
			<li class="euro"><a th:href="@{/admin/}+${id+'/prihodi'}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/}+${id+'/izvestaji'}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a
				th:href="@{/admin/}+${id+'/administratori'}">Dodaj novog
					administratora</a></li>
			<li class="home"><a th:href="@{/admin/}+${id}">Nazad na
					početnu</a></li>
		</ul>
	</nav>

	<main role="main">
		<section class="panel important">
			<table>
				<tr>
					<th>ID</th>
					<th>Ime</th>
					<th>Prezime</th>
					<th>Email</th>
					<th>Korisnicko ime</th>
					<th>Broj telefona</th>
					<th>Adresa</th>
					<th>Grad</th>
					<th>Drzava</th>
					<th>Tip registracije</th>
					<th>Razlog registracije</th>
				</tr>
				<tr>
					<td th:text="${zahtev.ID}">ID</td>
					<td th:text="${zahtev.ime}">Ime</td>
					<td th:text="${zahtev.prezime}">Prezime</td>
					<td th:text="${zahtev.email}">Email</td>
					<td th:text="${zahtev.korisnickoIme}">Korisnicko ime</td>
					<td th:text="${zahtev.brojTel}">Broj telefona</td>
					<td th:text="${zahtev.adresa}">Adresa</td>
					<td th:text="${zahtev.grad}">Grad</td>
					<td th:text="${zahtev.drzava}">Drzava</td>
					<td th:text="${zahtev.tipRegistracije}">Tip registracije</td>
					<td th:text="${zahtev.razlogRegistracije}">Razlog registracije</td>
				</tr>
			</table>
		</section>
		<section class="panel important">
			<form
				th:action="@{/admin/}+ ${id +'/zahtevReg/'} + ${zahtev.ID} + @{/submit}">
				<div class="onethird">
					<label for="y"> <input type="radio" name="radio" id="y"
						value="accept" /> Prihvati zahtev
					</label> <label for="n"> <input type="radio" name="radio" id="n"
						value="deny" /> Odbij zahtev
					</label> <input type="submit" value="Pošalji" />
				</div>
				<div class="twothirds">
					<label for="textarea">Razlog za odbijanje:</label>
					<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
				</div>
			</form>
		</section>
	</main>
</body>
</html>