<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>

<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">

</head>
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/}+${id+'/profil'}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/login}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/}+${id+'/pregled'}">Prikaz
					svih entiteta</a></li>
			<li class="euro"><a th:href="@{/admin/}+${id+'/prihodi'}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/}+${id+'/izvestaji'}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a
				th:href="@{/admin/}+${id+'/administratori'}">Dodaj novog
					administratora</a></li>
			<li class="home"><a th:href="@{/admin/}+${id}">Nazad na
					početnu</a></li>
		</ul>
	</nav>


	<main role="main">
	
		<section class="panel important">
			<form>
				<div class="onethird">
					<label class="opis" for="pocetniDatum">Početni datum: </label> <input
						class="opis" id="pocetniDatum" type="date" name="pocetniDatum"
						value="" required>
				</div>

				<div class="onethird">
					<label class="opis" for="krajnjiDatum">Krajnji datum: </label> <input
						class="opis" id="krajnjiDatum" type="date" name="krajnjiDatum"
						value="" required>
				</div>

				<div class="onethird">
					<input th:formaction="@{/admin/}+${id+'/izvestaji/print'}" type="submit"
						value="Prikazi" />
				</div>
			</form>

		</section>
		<section class="panel important">
			<table class="twothirds">
				<tr>
					<th>Rezervacija ID</th>
					<th>Vrednost prihoda</th>
					<th>Datum prihoda</th>
				</tr>
				<tr th:each="prihod : ${prihodi}">
					<td th:text="${prihod.rezervacija}">17569</td>
					<td th:text="${prihod.vrednost + ' din'}">€150</td>
					<td th:text="${prihod.datum}">Oct 10, 2015</td>

				</tr>

			</table>
		</section>
	</main>
</body>
</html>