<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
</head>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/}+${id+'/profil'}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/login}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/}+${id+'/pregled'}">Prikaz
					svih entiteta</a></li>
			<li class="euro"><a th:href="@{/admin/}+${id+'/prihodi'}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/}+${id+'/izvestaji'}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a
				th:href="@{/admin/}+${id+'/administratori'}">Dodaj novog
					administratora</a></li>
		</ul>
	</nav>

	<main role="main">

		<section class="panel important">
			<h2>Zahtevi za registraciju</h2>
			<table>
				<tr>
					<th>ID</th>
					<th>Ime</th>
					<th>Prezime</th>
					<th>Email</th>
					<th>Korisnicko ime</th>
					<th>Tip registracije</th>
					<th>Razlog registracije</th>
					<th>Pregled</th>
				</tr>
				<tr th:each="zahtev : ${zahtevi}">
					<td th:text="${zahtev.ID}">ID</td>
					<td th:text="${zahtev.ime}">Ime</td>
					<td th:text="${zahtev.prezime}">Prezime</td>
					<td th:text="${zahtev.email}">Email</td>
					<td th:text="${zahtev.korisnickoIme}">Korisnicko ime</td>
					<td th:text="${zahtev.tipRegistracije}">Tip registracije</td>
					<td th:text="${zahtev.razlogRegistracije}">Razlog registracije</td>
					<td><a th:href="@{/admin/}+${id+'/zahtevReg/'} + ${zahtev.ID}">►</a></td>
				</tr>
			</table>
		</section>

		<section class="panel important">
			<h2>Zahtevi za brisanje</h2>
			<table>
				<tr>
					<th>ID</th>
					<th>Ime</th>
					<th>Prezime</th>
					<th>Email</th>
					<th>Korisnicko ime</th>
					<th>Razlog za brisanje</th>
					<th>Pregled</th>
				</tr>
				<tr th:each="zahtev : ${zahteviB}">
					<td th:text="${zahtev.ID}">ID</td>
					<td th:text="${zahtev.ime}">Ime</td>
					<td th:text="${zahtev.prezime}">Prezime</td>
					<td th:text="${zahtev.email}">Email</td>
					<td th:text="${zahtev.korisnickoIme}">Korisnicko ime</td>
					<td th:text="${zahtev.razlogRegistracije}">Razlog za brisanje</td>
					<td><a th:href="@{/admin/}+${id+'/zahtevZB/'} + ${zahtev.ID}">►</a></td>
				</tr>
			</table>
		</section>
		<section class="panel important">
			<h2>Zalbe klijenata</h2>
			<table>
				<tr>
					<th>ID</th>
					<th>Klijent</th>
					<th>Tekst zalbe</th>
					<th>Rezervacija ID</th>
					<th>Odgovor</th>
				</tr>
				<tr th:each="zalba : ${zalbe}">
					<td th:text="${zalba.ID}">ID</td>
					<td th:text="${zalba.naziv}">Klijent</td>
					<td th:text="${zalba.zalba}">Tekst zalbe</td>
					<td th:text="${zalba.rezervacija.ID}">Rezervacija ID</td>
					<td><a th:href="@{/admin/}+${id+'/zalba/'} + ${zalba.ID}">►</a></td>
				</tr>
			</table>
		</section>
	</main>
</body>
</html>